services:
  rodizio:
    image: node:20-alpine
    container_name: rodizio-app
    working_dir: /app
    # instala deps se existirem e sobe
    command: sh -lc "npm install --omit=dev >/dev/null 2>&1 || true; node server.js"
    restart: unless-stopped
    environment:
      - PORT=3000
      - NODE_ENV=production
    volumes:
      - ./server.js:/app/server.js:ro
      - ./package.json:/app/package.json:ro
      - ./public:/app/public:ro
      - ./data.json:/app/data.json
    networks:
      - aio_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rodizio.rule=Host(`rodizio.667764.xyz`)"
      - "traefik.http.routers.rodizio.entrypoints=websecure"
      - "traefik.http.routers.rodizio.tls=true"
      - "traefik.http.services.rodizio.loadbalancer.server.port=3000"

      # MUITO importante para SSE
      - "traefik.http.middlewares.rodizio-headers.headers.customResponseHeaders.Cache-Control=no-cache"
      - "traefik.http.middlewares.rodizio-headers.headers.customResponseHeaders.Connection=keep-alive"
      - "traefik.http.routers.rodizio.middlewares=rodizio-headers@docker"
networks:
  aio_network:
    external: true
